.movie-modal {
  p {
    margin-bottom: 0;
  }

  .trailer {
    video {
      width: 100%;
    }
  }

  .poster {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .title {
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: rgba(0, 0, 0, .5);
      color: white;
      margin: 0;
      text-align: center;
      padding: 1rem;
    }
  }
}

.modal-body {
  padding: 0;
}

.modal-content{
  overflow: hidden;
}