@import "../../var";

em {
  color: $primary_color;
}

.movie {
  cursor: pointer;
  padding: .5rem;
  height: 200px;
  color: #000;
  display: flex;
  transition: all .1s ease;
  .movie-container {
    transition: all .1s ease;
    &.rotten {
      //box-shadow: 0 0 1rem #04c754;
      border: 1px solid #04c754;
      .title {
        background-color: #04c754;
      }
    }
    &.fresh, &.certified_fresh {
      border: 1px solid $primary_color;
      //box-shadow: 0 0 1rem $primary_color;
      .title {
        text-align: center;
        background-color: $primary_color;
      }
    }
    background-color: #fdfcf2;
    border-radius: .3rem;
    overflow: hidden;
    display: flex;
    flex: 1 auto;
    .poster {
      z-index: 1;
      display: flex;
      flex: 1 auto;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      max-width: 50%;
      width: 50%;
    }
    .body {
      width: 100%;
      line-height: 1.1rem;
      max-width: 50%;
      .title {
        text-align: center;
        color: white;
        font-size: 1.3rem;
        font-weight: bold;
      }
      .tomato {
        img {
          margin: 0 .2rem;
          width: 15px;
          height: 15px;
        }
      }
    }
  }

  &:hover {
    transform: scale(1.05);
    text-decoration: none;
    color: #000;
  }
}